<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/TencentMail</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        <exclude>
            <directory suffix=".php">./src/TencentMail/Console</directory>
            <file>./src/TencentMail/Support/ServiceProvider.php</file>
            <file>./src/TencentMail/Support/Facade.php</file>
        </exclude>
        </whitelist>
    </filter>
    <groups>
        <exclude>
            <group>dont-test</group>
        </exclude>
    </groups>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
